<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de contraseña</title>
</head>
<body>
    <app-navbar-general></app-navbar-general>
    <section id="Recup_contra" *ngIf="subm == false">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 heading">
					<h1>Recuperar contraseña</h1>
					<p class="sub">Bienvenid@ a nuestro formulario de recuperación de contraseñas. Por favor, digite la información que le pedimos a continuación.</p>
					<p class="subtle-text">Recuperar contraseña</p>
				</div>
			</div>
			<div>
				<div>
					<form (ngSubmit)="onSubmit_first()" #usuarioForm="ngForm">
						<div class="form-group">
							<label for="correo_sena_Recup_contra" class="sr-only"></label>
							<input type="email" class="form-control ini" placeholder="Correo electrónico (brindado por el sena y con el que se registró)" id="correo_sena_Recup_contra" name="correo" [(ngModel)]="usuario.correo_sena_user" required>
						</div>
						<div class="form-group">
							<label for="num_identificacion" class="sr-only">Número de identificación</label>
							<input type="number" class="form-control ini" placeholder="Número de identificación" id="num_identificacion" name="identificacion" [(ngModel)]="usuario.id_user" required>
						</div>
						<div class="form-group-ini" style="margin-top: 3%;">
							<button type="submit" value="Recuperar_contraseña" class="Subm Recup_contra" id="submit-Recup_contra" name="recuperar_contra" [disabled]="!usuarioForm.form.valid">Recuperar contraseña</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
    
    <section id="Recup_contra" *ngIf="subm">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 heading">
					<h1>Recuperar contraseña</h1>
					<p class="sub-doub">Bienvenid@</p>
					<p class="sub">Por favor, digite la nueva contraseña que con la que asegurará su cuenta.</p>
					<p class="subtle-text">Recuperar contraseña</p>
				</div>
			</div>
			<div>
				<div>
					<form (ngSubmit)="onSubmit_sec()" #usuarioForm="ngForm">
						<div class="form-group">
							<label for="password_registro" class="sr-only">Nueva contraseña</label>
							<input type="password" class="form-control ini" placeholder="Nueva contraseña" id="password_registro" maxlength="15" name="pass" [(ngModel)]="usuario.contrasena" required>
						</div>
						<div class="form-group-ini" style="margin-top: 3%;">
							<button type="submit" value="Recuperar_contraseña" class="Subm Recup_contra" id="submit-Recup_contra" name="recuperando_contra" [disabled]="!usuarioForm.form.valid">Recuperar contraseña</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<app-footer></app-footer>
</body>
</html>
