<footer id="footer">
    <div class="container">
        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    <small class="block" style="padding-bottom: 8px;">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
                    <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank" style="color: #65a124;">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank" style="color: #65a124;">Unsplash</a></small>
                </p>
            </div>
        </div>
    </div>
</footer>
