<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Registro Asistencia</title>
</head>
<body>
    <div class="navbar">
        <img src="../../../../assets/images/Logo_GsA-removebg-preview.png" class="logo">
        <ul>
            <li><a routerLink="../home">Inicio</a></li>
            <li><a routerLink="../anuncios">Anuncios</a></li>
            <li><a routerLink="../recomendaciones">Recomendaciones</a></li>
            <li><a routerLink="../instructor">Mis actividades</a></li>
            <li id="liFinLinea"><a (click)="this.sessionStorageService.clear()">Cerrar Sesion</a></li>
        </ul>
    </div>
    
    <section id="Asistencia">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 heading">
					<h1>Toma de asistencia</h1>
					<p class="sub-doub">En este espacio podrá tomar la asistencia al gimnasio por parte de los aprendices.</p>
					<p class="sub-doub">Le invitamos a que llene con ayuda de cada aprendiz el siguiente formulario, en el que se deberán registrar ciertos datos para quedar cada aprendiz registrado como asistente.</p>
                    <p class="sub">Además, más abajo tendrá un link con el que podrá acceder a los datos de asistencia de los aprendices.</p>
					<p class="subtle-text">Asistencia</p>
				</div>
			</div>
			<div class="row">
				<div class="cont-r">
					<form (ngSubmit)="onSubmit()" #asistenciaForm="ngForm">
                        <div id="cont_items_asist">
                            <div class="items_asist">
                                <div class="titulo-asist">
                                    <p>Identificación del Instructor</p>
                                </div>
                                <div class="caja_input">
                                    <label for="id_Instructor" class="lab_sesinic"></label>
                                    <input type="number" class="formul_sesinic" id="id_Instructor" name="id_Instructor" [(ngModel)]="asistencia.id_instruc_asis" required>
                                </div>
                            </div>
                            <div class="items_asist">
                                <div class="titulo-asist">
                                    <p>Identificación del Aprendiz</p>
                                </div>
                                <div class="caja_input">
                                    <label for="id_Aprendiz" class="lab_sesinic"></label>
                                    <input type="number" class="formul_sesinic" id="id_Aprendiz" name="id_Aprendiz" [(ngModel)]="asistencia.fk_id_aprend_asis" required>
                                </div>
                            </div>
                            <div class="items_asist">
                                <div class="titulo-asist">
                                    <p>Fecha</p>
                                </div>
                                <div class="caja_input">
                                    <label for="fecha" class="lab_sesinic"></label>
                                    <input type="date" class="formul_sesinic" id="fecha" name="fecha" [(ngModel)]="asistencia.fecha_asis" required>
                                </div>
                            </div>
                        </div>
						<div class="form-group" style="margin-top: 3%;">
							<input type="submit" value="Guardar" class="Subm" id="submit-ed">
						</div>
					</form>
				</div>
                <div class="link_asist_db">
                    <a [routerLink]="['../asistencia_listado']" class="link-db">Acceder a la lista de asistencia de aprendices</a>
                </div>
			</div>
		</div>
	</section>
	<app-footer></app-footer>
</body>
</html>
