<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de anuncio</title>
</head>
<body>
    <div class="navbar">
        <img src="../../../../assets/images/Logo_GsA-removebg-preview.png" class="logo">
        <ul>
            <li><a routerLink="../home">Inicio</a></li>
            <li><a routerLink="../anuncios">Anuncios</a></li>
            <li><a routerLink="../recomendaciones">Recomendaciones</a></li>
            <li><a routerLink="../admin">Mis actividades</a></li>
            <li id="liFinLinea"><a (click)="this.sessionStorageService.clear()">Cerrar Sesion</a></li>
        </ul>
    </div>
    
    <section id="Admin_anuncios">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 heading">
					<h1>Creación de anuncio</h1>
					<p class="sub-doub">En este espacio, el sistema le permitirá crear un nuevo anuncio.</p>
					<p class="sub">Le invitamos a que en la parte inferior seleccione la imagen que tendrá el anuncio, luego escriba el título y por último la descripción del anuncio.</p>
					<p class="subtle-text">Creación anuncio</p>
				</div>
			</div>
			<div class="row">
				<div class="cont-r">
					<form (ngSubmit)="onSubmit()" #anuncioForm="ngForm">
                        <div class="form-group">
							<label for="img_anunc" class="sr-only">Imagen del anuncio</label>
                            <input type="file" class="form-control" placeholder="Imagen del anuncio" id="img_anunc" name="img_anunc" accept="image/*" (change)="selectImage($event)" required>
						</div>
                        <div class="form-group">
							<label for="titulo_anunc" class="sr-only">Título del anuncio</label>
							<input type="text" class="form-control" placeholder="Título del anuncio" id="titulo_anunc" name="titulo_anunc" [(ngModel)]="anuncio.titulo_anunc" required>
						</div>
						<div class="form-group">
							<label for="desc_anunc" class="sr-only">Descripción del anuncio</label>
							<textarea class="form-control" placeholder="Descripción del anuncio" id="desc_anunc" name="desc_anunc" [(ngModel)]="anuncio.desc_anunc"></textarea>
						</div>
						<div class="form-group" style="margin-top: 3%;">
							<input type="submit" value="Añadir" class="Subm" id="submit-anunc_add" name="submit-anunc_add" style="display: block;margin: 0 auto;">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<app-footer></app-footer>
</body>
</html>
