<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado usuarios</title>
</head>
<body>
    <div class="navbar">
      <img src="../../../../assets/images/Logo_GsA-removebg-preview.png" class="logo">
      <ul>
          <li><a routerLink="../home">Inicio</a></li>
          <li><a href="Anuncios.php">Anuncios</a></li>
          <li><a href="Recomendaciones.html">Recomendaciones</a></li>
          <li><a routerLink="../admin">Mis actividades</a></li>
          <li id="liFinLinea"><a href="../model/salir.php">Cerrar Sesion</a></li>
      </ul>
    </div>
    
    <section id="Admin_usuarios">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 heading">
					<h1>Listado de usuarios</h1>
					<p class="sub-doub">En este espacio tiene completo acceso a la lista de usuarios registrados en el sistema</p>
                    <p class="sub">Puede actualizar información si así lo requiere...</p>
				</div>
			</div>
			<div class="row">
				<div class="cont-r">
          <table id="lista_asistencia">
            <thead>
              <tr>
                <th class="col">Identificación</th>
                <th class="col">Tipo de usuario</th>
                <th class="col">P.nombre</th>
                <th class="col">P.apellido</th>
                <th class="col">S.apellido</th>
                <th class="col asist_correo">Correo</th>
                <th class="col">Antecedentes #1</th>
                <th class="col">Antecedentes #2</th>
                <th class="col">Estado del usuario</th>
                <th class="col asist_acciones">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios | async">
                <td class="tds">{{ usuario.id_user }}</td>
                <td class="tds">{{ usuario.tipo_user }}</td>
                <td class="tds">{{ usuario.nom1_user }}</td>
                <td class="tds">{{ usuario.ape1_user }}</td>
                <td class="tds">{{ usuario.ape2_user }}</td>
                <td class="tds">{{ usuario.correo_sena_user }}</td>
                <td class="tds">{{ usuario.fk_anteced_salud_sel }}</td>
                <td class="tds">{{ usuario.anteced_salud_inp }}</td>
                <td class="tds">{{ usuario.estado_user }}</td>
                <td class="tds"><a [routerLink]="['../usuarios_edicion/', usuario.id_user]"><button type='button' class='btn btn-update'>Editar</button></a></td>
              </tr>
            </tbody>
          </table>
				</div>
			</div>
		</div>
	</section>
    <app-footer></app-footer>
</body>
</html>