<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <app-navbar-general></app-navbar-general>
    <section id="Registrarse">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 heading">
					<h1>Registrarse</h1>
					<p class="sub">Regístrese para obtener todas las funcionalidades que este sistema puede ofrecerle.</p>
					<p class="subtle-text">Registrarse</p>
				</div>
			</div>
			<div class="row">
				<div>
					<form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">
						<div class="form-group">
							<label for="nom1" class="sr-only">Primer nombre</label>
							<input type="text" class="form-control" [(ngModel)]="usuario.nom1_user" placeholder="Primer nombre" id="nom1" name="nom1" required>
						</div>
						<div class="form-group">
							<label for="nom2" class="sr-only">Segundo nombre</label>
							<input type="text" class="form-control" [(ngModel)]="usuario.nom2_user" placeholder="Segundo nombre (No obligatorio)" id="nom2" name="nom2">
						</div>
						<div class="form-group">
							<label for="apel1" class="sr-only">Primer apellido</label>
							<input type="text" class="form-control" [(ngModel)]="usuario.ape1_user" placeholder="Primer apellido" id="apel1" name="apel1" required>
						</div>
						<div class="form-group">
							<label for="apel2" class="sr-only">Segundo apellido</label>
							<input type="text" class="form-control" [(ngModel)]="usuario.ape2_user" placeholder="Segundo apellido (No obligatorio)" id="apel2" name="apel2">
						</div>
						<div class="form-group">
							<label for="correo_sena_registro" class="sr-only">Correo electrónico brindado por el sena</label>
							<input type="email" class="form-control" [(ngModel)]="usuario.correo_sena_user" placeholder="Correo electrónico brindado por el sena" id="correo_sena_registro" name="correo" required>
						</div>
						<div class="form-group">
							<label for="num_identificacion" class="sr-only">Número de identificación</label>
							<input type="number" class="form-control" [(ngModel)]="usuario.id_user" placeholder="Número de identificación" id="num_identificacion" name="identificacion" required>
						</div>
						<div class="form-group">
							<label for="password_registro" class="sr-only">Contraseña (para acceder al sistema de ahora en adelante)</label>
							<input type="password" class="form-control" [(ngModel)]="usuario.contrasena" placeholder="Contraseña (para acceder al sistema de ahora en adelante)" id="password_registro" maxlength="15" name="pass" required>
						</div>
						<div class="form-group">
                            <label for="selAntecedentes" id="sr-only"></label>
                            <select class="form-control op" [(ngModel)]="usuario.fk_anteced_salud_sel" placeholder="Tiene condiciones médicas que debamos conocer?" id="selAntecedentes" name="selAntecedentes" required>
                                <option value="" selected="selected" disabled="disabled">Tiene condiciones médicas que debamos conocer?</option>
								<option *ngFor="let anteced of antecedentes | async" value='{{ anteced.antecedente }}'>{{ anteced.antecedente }}</option>
                            </select>
						</div>
						<div class="form-group">
							<label for="Antecedentes_salud" class="sr-only"></label>
							<input type="text" class="form-control" [(ngModel)]="usuario.anteced_salud_inp" placeholder="Su condición médica no aparece arriba o tiene varias? Descríbala(s) aquí" id="Antecedentes_input" name="Antecedentes_input">
						</div>
						<div class="form-group" style="margin-top: 3%;">
                            <input type="submit" value="Registrarse" class="Subm" id="submit-ed">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
    <app-footer></app-footer>
</body>
</html>