<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de sistencia</title>
</head>
<body>
    <div class="navbar">
        <img src="../../../../assets/images/Logo_GsA-removebg-preview.png" class="logo">
        <ul>
            <li><a routerLink="../home">Inicio</a></li>
            <li><a routerLink="../anuncios">Anuncios</a></li>
            <li><a routerLink="../recomendaciones">Recomendaciones</a></li>
            <li><a routerLink="../instructor">Mis actividades</a></li>
            <li id="liFinLinea"><a (click)="this.sessionStorageService.clear()">Cerrar Sesion</a></li>
        </ul>
    </div>
    
    <section id="Asistencia">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 heading">
					<h1>Listado de asistencia</h1>
					<p class="sub-doub">En este espacio tiene completo acceso a la lista de aprendices que han desarrollado actividades en el gimnasio</p>
                    <p class="sub">Puede actualizar información si así lo requiere...</p>
          <!-- <p class="sub-doub"><a href="Instructor-Act.php" class="link-db" id="a-volverAsist">Volver al formulario para registrar asistencias</a></p> -->
				</div>
			</div>
			<div class="row">
				<div class="cont-r">
          <table id="lista_asistencia">
            <thead>
              <tr>
                <th class="col">Identificación instructor</th>
                <th class="col">Identificación aprendiz</th>
                <th class="col">P.nombre aprendiz</th>
                <th class="col">P.apellido aprendiz</th>
                <th class="col">S.apellido aprendiz</th>
                <th class="col asist_correo">Correo aprendiz</th>
                <th class="col">Antecedentes #1</th>
                <th class="col">Antecedentes #2</th>
                <th class="col fechasist">Fecha asistencia</th>
                <th class="col asist_acciones" colspan="2">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let asist of asistencias | async">
                <td class='tds'>{{ asist.id_instruc_asis }}</td>
                <td class='tds'>{{ asist.fk_id_aprend_asis }}</td>
                <td class='tds'>{{ asist.nom1_user }}</td>
                <td class='tds'>{{ asist.ape1_user }}</td>
                <td class='tds'>{{ asist.ape2_user }}</td>
                <td class='tds'>{{ asist.correo_sena_user }}</td>
                <td class='tds'>{{ asist.fk_anteced_salud_sel }}</td>
                <td class='tds'>{{ asist.anteced_salud_inp }}</td>
                <td class='tds fechasist'>{{ asist.fecha_asis | date:"yyyy/MM/dd" }}</td>
                <td class='tds'><a [routerLink]="['../asistencia_edicion/', asist.id_registro_asis]"><button type='button' class='btn btn-update'>Editar</button></a></td>
                <td class='tds'><button type='button' class='btn btn-delete' (click)='showConfirmBox(asist.id_registro_asis)'>Eliminar</button></td>
                
                <div class='overlay' id="overl" [hidden]="oculto">
                  <div class='confirm-box'>
                    <br>
                    <h2>Confirmación de decisión</h2>
                    <p>Está segur@ de que quiere eliminar el registro de asitencia?</p>
                    <br>
                    <button id='confirma' (click)="isConfirm(true)">Si</button>
                    <button id='denega' (click)='isConfirm(false)'>No</button>
                  </div>
                </div>

                <!-- <script>
                  function showConfirmBox() {
                    document.getElementById('overlay').hidden = false;
                  }
                  function closeConfirmBox() {
                    document.getElementById('overlay').hidden = true;
                  }
                
                  function isConfirm(answer,id) {
                    if (answer) {
                      location.href ='../controller/c_asis_delete.php?id='+id;
                    }
                    closeConfirmBox();
                  }
                </script> -->
                
	            
              </tr>
            </tbody>
          </table>
				</div>
			</div>
		</div>
	</section>
	<app-footer></app-footer>
</body>
</html>
