*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Inicio */
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(230, 230, 230, 0.75),rgba(230, 230, 230, 0.75));
    background-size: cover;
    background-position: center;
}
/* isologo GSA en inicio */
#img-bg-ind{
    position:relative;
    display: flex;
    margin: 40px auto 0 auto;
    z-index: 6;
    /* width: 350px; */
    width: calc(30% - 100px);
}

/* Barra de Navegación */
.navbar{
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeeee9c;
}
/* Bg color barra navegacion index */
#nav_ind{
    background: #d5d5d59c;
}
/* Imag Logo */
.logo{
    padding-left: 15%;
    width: 40px;
    cursor: pointer;
}
/* Último li de Barra Navegación */
#liFinLinea{
    margin-right: 130px;
}

#liFinLinea a{
    cursor: pointer;
}
/* Cada opción Barra Navegación */
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
/* Cada link de cada opción de la Barra Navegación */
.navbar ul li a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 12px;
}
/* Antes de pasar puntero encima de opción de la Barra de Navegación (línea inferior) */
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #7ED321;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
/* Luego de pasar puntero encima de opción de la Barra de Navegación (línea inferior) */
.navbar ul li:hover::after{
    width: 100%;
}

/* Selección de texto en página de color verde y color de teto a blanco */
::selection {
    color: #fff;
    background: #7ED321;
}

/* Contenido de inicio (titulo y texto subtitulo) */
.contenido{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(18, 18, 18);
}
/* Titulo inicio */
.contenido h1{
    font-size: 90px;
    margin-top: 20px;
}
/* Texto subtitulo h3 inicio */
.contenido h3{
    font-weight: bolder;
    margin: 20px auto;
    font-size: 22px;
}

/* Contenedor de la información que corresponde a cada página */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 10;
}

/* Espacios de compartimentos para cada espacio (o página) dentro del sistema */
#Anuncios, #Recomendaciones, #Registrarse, #IniciarSesion, #Recup_contra, #Apre_Inst_Admin, #Planificador, #Asistencia, #Admin_anuncios, #Admin_anuncios_edit, #Admin_usuarios, #Admin_usuarios_edit{
    padding: 4em 0;
    clear: both;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #777;
    background: #fff;
    min-height: 78vh;
}
/* Posición heading cada página del sistema */
#Anuncios .heading, #Recomendaciones .heading, #Registrarse .heading, #IniciarSesion .heading, #Recup_contra .heading, #Apre_Inst_Admin .heading, #Planificador .heading, #Asistencia .heading, #Admin_anuncios .heading, #Admin_anuncios_edit .heading, #Admin_usuarios .heading, #Admin_usuarios_edit .heading{
    position: relative;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
/* Estilo correspondiente a cada h1 de las páginas del sistema */
#Anuncios h1, #Recomendaciones h1, #Registrarse h1, #IniciarSesion h1, #Recup_contra h1, #Apre_Inst_Admin h1, #Planificador h1, #Asistencia h1, #Admin_anuncios h1, #Admin_anuncios_edit h1, #Admin_usuarios h1, #Admin_usuarios_edit h1{
    color: #000;
    font-weight: 500;
    margin: 0 0 30px 0;
    font-size: 32px;
}

/* Estilo textos subtitulo heading cada página */
.heading .sub {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 18px;
    color: #757575;
}

/* Línea inferior a título y subtitulo heading cada página */
.heading .sub:after {
    bottom: 0;
    left: 50%;
    margin-left: -36px;
    content: "";
    position: absolute;
    width: 72px;
    height: 2px;
    background: #7ED321;
}
/* Estilo texto fondo páginas*/
.heading .subtle-text{
    position: absolute;
    left: 0;
    text-transform: uppercase;
    color: #F8F8F8;
    font-weight: 900;
    z-index: -1;
}

/* Estilo aplicado al contenedor de las imágenes de anuncios del sistema */
.cont_img_anunc{
    position: relative;
    display: flex;
    width: 90%;
    height: 350px;
}
/* Sombra imágenes de anuncios sistema */
.img-shadow_anunc {
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* justify-content: center; */
    background: #7ED321;
    width: 100%;
    height: 100%;
    /* padding: 20px 0 20px 0; */

}
.img-responsive_anunc {
    /* display: block; */
    position: relative;
    /* position: relative; */
    /* max-width: 100%; */
    top: -20px; 
    left: -20px;
    max-height: 100%;
    max-width: 100%;
}

/* Estilo texto de fondo de anuncios */
#Anuncios .heading .subtle-text {
    top: 0.5em;
    font-size: 150px;
}
/* Envoltorios de cada anuncio */
.team-item {
    margin-bottom: 9em;
}
/* Margen envoltorio final */
.team-item:last-child {
    margin-bottom: 0;
}
/* Color titulos de cada anuncio */
.heading-colored {
    color: #7ED321;
}
/* Espacio sombra imagen cada imagen en pantalla de bienvenida a administradores, aprendices e instructores*/
.gtco-team .img-shadow {
    position: relative;
    background: #7ED321;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
/* Espacio imágenes cada imagen en pantalla de bienvenida a administradores, aprendices e instructores*/
.gtco-team .img-shadow img {
    position: relative;
    top: -20px;
    right: -20px;
}
/* Espacio especifico cada imagen imagen en pantalla de bienvenida a administradores, aprendices e instructores */
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Estilo texto de fondo de Recomendaciones */
#Recomendaciones .heading .subtle-text{
    bottom: -1.4em;
    font-size: 100px;
}
/* Estilo cada espacio de recomendación */
#Recomendaciones .Recomendaciones-item {
    margin-bottom: 30px;
}
/* Estilo espacios de recomendacion alineados a la izquierda */
#Recomendaciones .itmL1{
    margin-left: 70px;
    margin-right: 20px;
}
/* Estilo espacios de recomendacion alineados a la derecha */
#Recomendaciones .itmL2{
    margin-left: 20px;
    margin-right: 70px;
}
/* Espacio para elementos de recomendaciones (texto e imágenes) */
#Recomendaciones .Recomendaciones-item .gtco-icon,
#Recomendaciones .Recomendaciones-item .gtco-copy {
    display: table-cell;
    vertical-align: top;
}
/* Ancho de las imágenes de cada recomendación */
#Recomendaciones .Recomendaciones-item .gtco-icon {
    width: 100px;
}
/* Redimensionamieno de las imágenes de las recomendaciones según dimensiones pantalla */
@media screen and (max-width: 768px) {
    #Recomendaciones .Recomendaciones-item .gtco-icon {
      width: 70px;
    }
}
/* Estilo texto título de cada recomendación saludable */
#Recomendaciones .Recomendaciones-item .gtco-copy h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

/* Estilo texto de fondo de Registro y Planificador aprendices */
#Registrarse .heading .subtle-text, #Planificador .heading .subtle-text, #Admin_anuncios .heading .subtle-text, #Admin_anuncios_edit .heading .subtle-text, #Admin_usuarios .heading .subtle-text, #Admin_usuarios_edit .heading .subtle-text{
    bottom: -1.6em;
    font-size: 140px;
}

/* Estilo texto de fondo de Inicio de sesión*/
#IniciarSesion .heading .subtle-text{
    bottom: -1.6em;
    font-size: 190px;
    line-height: 1;
}
/* Estilo texto de fondo de Inicio de sesión y Recuperación de contraseña*/
#Recup_contra .heading .subtle-text{
    bottom: -1.6em;
    font-size: 140px;
    line-height: 1;
}


/* Ancho de página de anuncios a aplicar según dimensiones pantalla */
@media (min-width: 768px) {
    #Anuncios .container, #Apre_Inst_Admin .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
    #Anuncios .container, #Apre_Inst_Admin .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
    #Anuncios .container, #Apre_Inst_Admin .container {
    width: 1170px;
  }
}

/* Contenedor general contenido páginas */
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row-pb-md {
    padding-bottom: 4em;
}
.row-pb-sm {
    padding-bottom: 2em;
}

/* Estilo texto de anuncios */
.rowText{
    padding-left: 10%;
    padding-bottom: 10px;
}
/* Estilo texto h2 de anuncios */
.rowTextH2{
    padding-bottom: 25px;
}

/* Contenedor posición ciertos elementos */
.col-md-8, .col-md-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

/* ancho para contenedores de anuncios y recomendaciones */
#Anuncios .col-md-6, #Recomendaciones .col-md-6, #Apre_Inst_Admin .col-md-6 {
    width: 50%;
}
/* ancho contenedores según dimensiones pantalla */
@media (min-width: 992px) {
    #Anuncios .col-md-6, #Recomendaciones .col-md-6, #Apre_Inst_Admin .col-md-6, .col-md-12 {
      float: left;
    }
}

/* Estilo del texto que se usa para parrafos aparte de los que siempre se usan como subtítulo en las páginas
   (se hace esta clase para poder aplicar lo normal a los parrafos subtítulo de cáda página, y estos párrafos adicionales acomodarlos
     sin que hagan lo mismo que el resto ya que se perjudica la organización de las páginas) */
.heading .sub-doub{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 18px;
    color: #757575;
}
/* Estilo de los textos de fondo de la páginas planificador y asistencia */
#Planificador .heading .subtle-text, #Asistencia .heading .subtle-text, #Admin_anuncios .heading .subtle-text{
    bottom: -1.5em;
    font-size: 135px;
}


/* Contenedor de elementos formularios (registro, inicio sesión) */
.form-group {
    margin-bottom: 15px;
}

/* Contenedor elementos botón de formulario de inicio de sesión */
.form-group-ini{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* margin-left: 41%; */
}

/* Contenedores label de los formularios (registro, inicio sesión) */
.sr-only {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

/* Estilos aplicados a los input de los datos pedidos a los clientes */
.form-control {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    font-size: 16px;
    color: #555555;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}

/* Estilos aplicados a los botones que contiene el aplicativo */
.Subm{
    background: #7ED321;
    color: white;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 30px;
    border: 2px solid #7ED321;
    cursor: pointer;
}
.Subm:hover{
    background: #65a124;
    transition: 0.8s;
}

/* Estilos y organización aplicada a los datos que llenan los usuarios
    (dandoles espacios más estáticos y además flexibles a las personas que interactuen con los input del sistema) */
#nom1, #nom2, #apel1, #apel2,  #correo_sena_registro, #num_identificacion, #password_registro, #Antecedentes_input, #correo_sena_iniciosesion, #password_iniciosesion, #correo_sena_Recup_contra, #img_anunc, #titulo_anunc, #desc_anunc, #correo_sena_usersEdit{
    margin: 0 auto;
    width: 45%;
}
/* Se agrega color más suave al texto que la persona digitará según corresponda */
#num_identificacion ,#correo_sena_registro, #correo_sena_iniciosesion, #correo_sena_Recup_contra, #Antecedentes_input, #correo_sena_usersEdit{
    color: #555555;
}

/* Padding que se agrega al input con opciones */
.form-control.op {
    padding-left: 7px;
}

/* Estilos que se agregan a los espacios que permiten la elección de opciones en el formulario de registro */
#selAntecedentes, #selRol, #estado_user{
    margin: 0 auto;
    width: calc(45% + 1px);
    height: 43px;
    color: #555555;
}
/* Color que se le aplica a los elementos inválidos dentro de las opciones de respuesta de los antecedentes de salud en el registro 
    (esto con el objetivo de que se diferencie y salga de color claro el título que dice "Tiene condicioines médicas que debamos conocer?"
      para que así, cuando se seleccione la opcion, salga de un color más oscuro y se diferencie visualmente del elemento
        que le permite a la persona saber qué elegir en ese espacio opcional) */
#selAntecedentes:invalid, #selRol:invalid, #estado_user:invalid{
    color: #999;
}

/* Estilos aplicados a los input de tipo numérico dentro del sistema para quitar opciones de incrementar o decrementar el número (dado a que son identificaciones y no se le encuentra uso a la opción) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Estilos adicionales que se le aplican a los sibmit del inicio de sesión */
.Subm.inises{
    display: flex;
    flex-flow: row wrap;
    padding: 8px 8px;
}
/* Configuraciones adicionales que se le aplican a algunos submit */
#submit-ed{
    display: block;
    margin: 0 auto;
}
#submit-ini1{
    margin-right: 10px;
    padding: 0 42px
}
/* Configuraciones adicionales que se le aplican al submit de recuperación de contraseña (tanto del formulario de Inicio de sesión como del de Recuperación de contraseña) */
#submit-ini2, #submit-Recup_contra{
    margin-left: 10px;
}
.Subm.inises.ini2, .Subm.Recup_contra{
    background: #8aca44;
    border: 2px solid #8aca44;
}
.Subm.inises.ini2:hover, .Subm.Recup_contra:hover{
    background: #65a124;
    transition: 0.8s;
}

/* Estilos adicionales agregados a los campos input de la página Inicio Sesion y en parte de la página de Recuperación de contraseña */
.form-control.ini {
    height: 22px;
    padding: 20px 20px;
    font-size: 19px;
    border-radius: 10px;
}
/* Color que se le aplica al texto que el cliente digite en los input de la página Inicio sesión y en parte de la página de Recuperación de contraseña */
.form-control-ini::-webkit-input-placeholder {
    color: #999;
}
/* Formato que se aplica al texto dentro del input de la página de Recuperación de contraseña */
#Recup_contra .form-control.ini{
    font-size: 18px;
}

/* Margen agregado a los row pero como contenedor de ellos */
.cont-r{
    margin-bottom: 100px;
}

/* Padding aplicado al título de las páginas de bienvenida a cada tipo de cliente (a la página de aprendices y a la página de instructores) */
#Apre_Inst_Admin .heading h1 {
    padding-bottom: 40px;
}
/* Línea inferior a título y subtitulo heading página aprendiz y página instructores*/
#Apre_Inst_Admin .heading h1:after{
    bottom: 0;
    left: 50%;
    margin-left: -36px;
    content: "";
    position: absolute;
    width: 72px;
    height: 3px;
    background: #7ED321;
}
/* Estilo texto de fondo de presentación en página aprendiz y página instructores */
#Apre_Inst_Admin .heading .subtle-text {
    top: 0.1em;
    font-size: 140px;
}
.rowText.link-ini-ses{
    color: #6ab31d;
}

/* Estilo y configuración aplicada de manera general al espacio para seleccionar músculos dentro de la página del planificador */
#selMusculo{
    margin: 0 auto;
    width: 41%;
    height: 43px;
    color: #555555;
}
/* Color que se aplica a la opción que sale inicialmente, con lo que se logra diferenciar el título guía de las opciones que la persona puede elegir */
#selMusculo:invalid{
    color: #999;
}

/* Estilos aplicados al título que describe a qué músculo correponden los ejercicios mostrados */
#h_text_musc{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#h_text_musc #texto_musc_ejerc{
    font-size: 27px;
    color: #484848;
}
/* Configuración aplicada a la caja o espacio que dentro contiene los ejercicios que el aprendiz puede desarrollar según el músculo elegido */
#cont_Ejercicios{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
}
/* Estilos aplicados a la clase que envuelve cada opción de ejercicio que el sistema muestra al aprendiz en función del músculo que con anterioridad haya elegido */
.ejercicio{
    border: 1px solid #ccc;
    flex-grow: 1;
    flex-basis: 220px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
}
/* Estilo aplicado a las imágenes que ejemplifiquen los ejercicios que el aprendiz puede desarrollar según el músculo elegido */
.ejercicio img{
    width:100%;
}
/* Estilo aplicado al texto que describe los ejericios que el aprendiz puede desarrollar según el músculo elegido */
.ejercicio-info{
    padding: 0 30px 20px 30px;
}
/* Estilo específico aplicado al texto que explique los ejercicios que el aprendiz puede desarrollar según el músculo elegido */
.project-info p{
    font-size: 8px;
    color: gray;    
}
/* Estilo de texto de los títulos dentro de cada opción de ejercicio a desarrollar según el músculo elegido por el aprendiz */
.ej-inf-p1{
    font-size: 24px;
    color: #7ED321;
}
.ej-inf-p2{
    margin: 15px 0;
    padding: 0 22px 0 6px;
    font-size: 16px;
}

/* Configuraciones aplicadas al contenedor que tiene dentro los datos que se tomarán para el registro de asistencia de los aprendices al gimnasio */
#cont_items_asist{
    border: 4px groove #a5a5a5;
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
}

/* Configuraciones aplicadas a los espacios individuales que contienen cada espacio a llenar para registrar la asistencia de los aprendices al gimnasio */
.items_asist{
    margin: 10px;
    text-align: center;
    width: calc(30% - 10px);
    /* width: 280px; */
}
/* Estilo aplicado al título o nombre que le permite al instructor comprender en cada campo qué se debe colocar para llenar correctamente la asistencia */
.titulo-asist{
    background: #777777c3;
    color: rgb(255, 243, 226);
    margin: 0 auto;
    width: calc(100% - 22px);
}
/* Estilo aplicado a las cajas que contienen los input */
.caja_input{
    margin: 0 auto;
    width: 100%;
}
/* Estilo aplicado a cada input de la asistencia */
.formul_sesinic{
    padding: 10px;
    font-size: 14px;
    color: #555555;
    border: 1px solid #ccc;
    width: calc(100% - 22px);
}
/* Color aplicado a todo dato que digite el instructor a los input para llenar la asistencia */
.formul_sesinic::-webkit-input-placeholder{
    color: #999;
}

/* Formato aplicado al espacio que contiene el link para dirigirse a la base de datos de asistencia y desarrollar procesos CRUD con ella */
.link_asist_db{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
/* Color aplicado al link que redirige a la base de datos de asistencia del gimnasio (el cual se aplica para que no se vea de forma normal el link (color azul) sino con el color que representa al sena y a nuestro sistema (verde)) */
.link-db{
    color: #6ab31d;
}

#a-volverAsist{
    font-size: 15px;
}
/* Estilos aplicados al listado de asistencia mostrado en las actividades del instructor */
#lista_asistencia{
    margin: 0 auto;
    width: 700px;
    font-size: 14px;
    border-collapse: collapse;
}
#lista_asistencia .col{
    border: 1px solid white;
    border-bottom-color: #000000;
}
#lista_asistencia th, #lista_asistencia td{
    padding: 14px 6px;
    text-align: start;
}
#lista_asistencia .asist_correo, #lista_asistencia .asist_acciones{
    text-align: center;
}
#lista_asistencia th{
    padding: 2px 20px 2px 7px;
}
#lista_asistencia .asist_correo{
    padding: 2px 8px;
}
.tds{
    border-bottom: 1px solid #9c9c9c;
}
.fechasist{
    padding: 0px;
}
.btn{
    width: 70px;
    padding: 5px 2px;
    cursor: pointer;
    font-size: 11px;
}
.btn-update{
    border: 0px;
    border-radius: 7px;
    background-color: rgb(220, 161, 12);
}
.btn-delete{
    border: 0px;
    border-radius: 7px;
    background-color: rgb(238, 70, 70);
}

/* Estilos que permiten al instructor confirmar o denegar la decisión de eliminar un registro de asistencia */
.overlay {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.456);
    z-index: 20;
}
.confirm-box {
    position:fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    text-align: center;
    background: white;
}
.confirm-box h2{
    margin: 50px 0;
    font-size: 32px;
}
.confirm-box p{
    font-size: 18px;
    margin-bottom: 10px;
}
.confirm-box button{
    width: 60px;
    font-size: 15px;
    padding: 6px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.confirm-box #confirma{
    background-color: #89a968;
    margin-right: 5px;
}
.confirm-box #confirma:hover{
    background-color: #65a124;
}
.confirm-box #denega{
    background-color: rgb(195, 122, 122);
    margin-left: 5px;
}
.confirm-box #denega:hover{
    background-color: rgb(238, 70, 70);
}


/* Estilos aplicados a lista de anuncios mostrada a administradores */
#lista{
    margin: 0 auto;
    width: 700px;
    font-size: 14px;
    border-collapse: collapse;
}
#lista .col{
    border: 1px solid white;
    border-bottom-color: #000000;
}
#lista th, #lista td{
    padding: 14px 6px;
    text-align: start;
}
#lista .admin_anunc_imagenes, #lista .admin_anunc_acciones{
    text-align: center;
}
#lista th{
    padding: 2px 20px 2px 7px;
}
#lista .img_anunc_admin{
    width: 120px;
}

/* pie de cada página */
#footer {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 25px;
    background:#eaeaea;
    font-family: sans-serif;
    color: #555555;
}
/* Código para mantener estáticos los elementos del footer */
#footer .copyright .block {
    display: block;
}
