<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymSenApp</title>
</head>
<body>
	<div class="banner" id="Inicio">
        <div class="navbar" id="nav_ind">
            <img src="../../../assets/images/Logo_GsA-removebg-preview.png" class="logo">
            <ul>
				<li routerLinkActive="active"><a routerLink="home">Inicio</a></li>
				<li><a href="Anuncios.php">Anuncios</a></li>
				<li><a href="Recomendaciones.html">Recomendaciones</a></li>
				<li routerLinkActive="active"><a routerLink="registrarse">Registrarse</a></li>
				<li id="liFinLinea"><a href="Inicio_Sesion.html">Iniciar sesión</a></li>
			</ul>
        </div>
        <div class="contenido">
			<img id="img-bg-ind" src="../../../assets/images/Isologo_GsA-removebg-preview.png" alt="">
            <h3 class="subt">Su gimnasio Sena al alcance de sus manos</h3>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>