<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones</title>
</head>
<body>
    <app-navbar-general></app-navbar-general>
    <section id="Recomendaciones">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 heading">
					<h1>Recomendaciones</h1>
					<p class="sub">Para que obtenga mejores resultados con sus rutinas de entrenamiento, le recomendamos los siguientes ítems.</p>
					<p class="subtle-text">Recomendaciones</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="Recomendaciones-item itmL1">
						<div class="gtco-icon">
							<img src="../../../assets/images/salud_comida.png">
						</div>
						<div class="gtco-copy">
							<h3>Cuide su alimentación</h3>
							<p>De nada le servirá entrenar intensamente durante largas horas si
								no mantiene una alimentación adecuada que le brinde lo necesario
								para mantenerse activ@ en su día a día y que le mantenga fuerte
								para seguir con su entrenamiento. </p>
						</div>
					</div>

					<div class="Recomendaciones-item itmL1">
						<div class="gtco-icon">
							<img src="../../../assets/images/scale.png" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
						</div>
						<div class="gtco-copy">
							<h3>Vaya lento, pero seguro</h3>
							<p>Recuerde que su cuerpo no es invencible, necesita tiempo para
								acoplarse a la nueva rutina que le propone. Así que sea comprensiv@ 
								y respetuos@ con su cuerpo, y fortalézcalo progresivamente, paso
								por paso, y así verá cómo su cuerpo responde correctamente a lo que
								le propone y, cuando menos lo espere, alcanzará y hasta superarás las
								metas que tenía fijadas al tomar la decisión de mejorar su estado físico. </p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="Recomendaciones-item itmL2">
						<div class="gtco-icon">
							<img src="../../../assets/images/mental.png" style="height: 65px;">
						</div>
						<div class="gtco-copy">
							<h3>Cuide su autoestima</h3>
							<p>Analice constantemente porqué está entrenando, debe primar ante todo
								la sinceridad consigo mism@, está bien replantearse y a veces hacer
								lo necesario por salud, el resto es secundario y debe estar delimitado
								por lo que quiera, no por que se lo impongan. </p>
						</div>
					</div>
					<div class="Recomendaciones-item itmL2">
						<div class="gtco-icon">
							<img src="../../../assets/images/water.png" style="height: 80px;">
						</div>
						<div class="gtco-copy">
							<h3>Hidrátese</h3>
							<p>Si, eso mismo, aunque es algo que siempre se sugiere, muy poco se lleva
								a la práctica; y es un elemento fundamental para que su cuerpo pueda
								asimilar todo lo que está desarrollando, y lo enfrente de la mejor
								manera posible, sin que hallan riesgos de que se genere alguna afectación 
								a su salud. Asi que ¡A beber agua!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <app-footer></app-footer>
</body>
</html>
